<!-- Navbar -->
<nav class="navbar fixed-top">
      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <img src="assets/128x128.png" style="height:40px;">
      </ul>
      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="button">
          <a class="nav-link border border-light rounded" target="_blank" href="https://rocketnotes-electron-releases.s3.eu-central-1.amazonaws.com/rocketnotes-1.0.1.dmg" style="margin-right:8px;">
            <i class="fa-solid fa-download"></i> macOS <i class="fab fa-apple"></i>
          </a>
        </li>
      </ul>
      <!-- <ul class="navbar-nav nav-flex-icons">
        <li class="button">
          <a class="nav-link border border-light rounded" target="_blank" href="https://rocketnotes-electron-releases.s3.eu-central-1.amazonaws.com/rocketnotes-1.0.1.dmg" style="margin-right:8px;">
            <i class="fa-solid fa-download"></i> windows <i class="fab fa-windows"></i>
          </a>
        </li>
      </ul> -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="button">
          <a class="nav-link border border-light rounded" target="_blank" href="https://app.takeniftynotes.net">
            Login
          </a>
        </li>
      </ul>
</nav>
<!-- Navbar -->

<!--Main layout-->
<main>
  <div class="container" style="margin-top: 128px;">

    <!--Section: Main info-->
    <section class="mt-5 wow fadeIn">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="assets/img1.png" class="img-fluid z-depth-1-half"
            alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!-- Main heading -->
          <h3 class="h3 mb-3">🚀 Welcome to Rocket Notes 🚀</h3>
          <p>Take notes in the cloud and access it everywhere from any device.</p>
          <p>Read details below to learn more about the most powerful and practical note taking editor that mankind has ever seen.</p>
          <!-- Main heading -->

          <hr>

          <p><strong>Available</strong> for MacOS, Windows and as a webapp int the browser.</p>
          <p>Advanced <strong>Markdown Editor</strong> with responsive preview and code syntax highlighting for many popular programming languages.</p>
          <p>Interactive <strong>Document Tree</strong> for structuring your note documents as simple as never before.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Main info-->

    <hr class="my-5">

    <!--Section: Main features & Quick Start-->
    <section>

      <h3 class="h3 text-center mb-5">Extensive Markdown Editor</h3>

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 px-4">

          <!--Second row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-book fa-2x blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Use the power and simplicity of Markdown </h5>
              <p class="grey-text">Easy to use WYSIWYG description language.</p>
            </div>
          </div>
          <!--/Second row-->

          <div style="height:30px"></div>

          <!--First row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-code fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Code Syntax Hightlighting</h5>
              <p class="grey-text">Create useful code snippets in your favourite programming language.</p>
            </div>
          </div>
          <!--/First row-->

          <div style="height:30px"></div>

          <!--Third row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-graduation-cap fa-2x cyan-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Clean and straightforward</h5>
              <p class="grey-text">No bothering buttons, just an editor, nothing more.</p>
            </div>
          </div>
          <!--/Third row-->

        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="assets/img2.png" class="img-fluid z-depth-1-half"
            alt="">

        </div>
        <!--/Grid column-->

      </div>
      <!--/Grid row-->

    </section>
    <!--Section: Main features & Quick Start-->

    <hr class="my-5">

    <section>

      <h3 class="h3 text-center mb-5">Powerful Document Tree</h3>

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="assets/tree.gif" class="img-fluid z-depth-1-half"
            alt="">

        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 px-4">

          <!--First row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-table fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Hierarchical Layout</h5>
              <p class="grey-text">Structure your note documents hierarchical with unlimited depth of subdocuments.</p>
            </div>
          </div>
          <!--/First row-->

          <div style="height:30px"></div>

          <!--Second row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-up-down-left-right fa-2x blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Drag & Drop</h5>
              <p class="grey-text">Restructure your notes by simply drag and drop the desired document.</p>
            </div>
          </div>
          <!--/Second row-->

          <div style="height:30px"></div>

          <!--Third row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-star fa-2x cyan-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Pin Favourites</h5>
              <p class="grey-text">Pin your favorite documents for fast top-level access.</p>
            </div>
          </div>
          <!--/Third row-->

        </div>

      </div>
      <!--/Grid row-->

    </section>

    <hr class="my-5">

    <!-- <section>

      <h2 class="my-5 h3 text-center">Not enough?</h2>

      <div class="row features-small mb-5 mt-3 wow fadeIn">

        <div class="col-md-4">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Free for personal and commercial use</h6>
              <p class="grey-text">Our license is user-friendly. Feel free to use MDB for both private as well as
                commercial projects.
              </p>
              <div style="height:15px"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">400+ UI elements</h6>
              <p class="grey-text">An impressive collection of flexible components allows you to develop any project.
              </p>
              <div style="height:15px"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">600+ icons</h6>
              <p class="grey-text">Hundreds of useful, scalable, vector icons at your disposal.</p>
              <div style="height:15px"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Fully responsive</h6>
              <p class="grey-text">It doesn't matter whether your project will be displayed on desktop, laptop, tablet
                or mobile phone. MDB
                looks great on each screen.</p>
              <div style="height:15px"></div>
            </div>
          </div>
        </div>

        <div class="col-md-4 flex-center">
          <img src="https://mdbootstrap.com/img/Others/screens.png" alt="MDB Magazine Template displayed on iPhone"
            class="z-depth-0 img-fluid">
        </div>

        <div class="col-md-4 mt-2">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">70+ CSS animations</h6>
              <p class="grey-text">Neat and easy to use animations, which will increase the interactivity of your
                project and delight your visitors.
              </p>
              <div style="height:15px"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Plenty of useful templates</h6>
              <p class="grey-text">Need inspiration? Use one of our predefined templates for free.</p>
              <div style="height:15px"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Easy installation</h6>
              <p class="grey-text">5 minutes, a few clicks and... done. You will be surprised at how easy it is.
              </p>
              <div style="height:15px"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Easy to use and customize</h6>
              <p class="grey-text">Using MDB is straightforward and pleasant. Components flexibility allows you deep
                customization. You will
                easily adjust each component to suit your needs.</p>
              <div style="height:15px"></div>
            </div>
          </div>
        </div>

      </div>

    </section> -->

    <!-- <hr class="mb-5"> -->

    <!--Section: More-->
    <!-- <section>

      <h2 class="my-5 h3 text-center">...and even more</h2>

      <div class="row features-small mt-5 wow fadeIn">

        <div class="col-xl-3 col-lg-6">
          <div class="row">
            <div class="col-2">
              <i class="fab fa-firefox fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2 pl-3">
              <h5 class="feature-title font-bold mb-1">Cross-browser compatibility</h5>
              <p class="grey-text mt-2">Chrome, Firefox, IE, Safari, Opera, Microsoft Edge - MDB loves all browsers;
                all browsers love MDB.
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-level-up-alt fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">Frequent updates</h5>
              <p class="grey-text mt-2">MDB becomes better every month. We love the project and enhance as much as
                possible.
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6">
          <div class="row">
            <div class="col-2">
              <i class="far fa-comments fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">Active community</h5>
              <p class="grey-text mt-2">Our society grows day by day. Visit our forum and check how it is to be a part
                of our family.
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-code fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">jQuery 3.x</h5>
              <p class="grey-text mt-2">MDB is integrated with newest jQuery. Therefore you can use all the latest
                features which come along with
                it.
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="row features-small mt-4 wow fadeIn">

        <div class="col-xl-3 col-lg-6">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-cubes fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">Modularity</h5>
              <p class="grey-text mt-2">Material Design for Bootstrap comes with both, compiled, ready to use libraries
                including all features as
                well as modules for CSS (SASS files) and JS.</p>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-question fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">Technical support</h5>
              <p class="grey-text mt-2">We care about reliability. If you have any questions - do not hesitate to
                contact us.
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-th fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">Flexbox</h5>
              <p class="grey-text mt-2">MDB fully supports Flex Box. You can forget about alignment issues.</p>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6">
          <div class="row">
            <div class="col-2">
              <i class="far fa-file-code fa-2x mb-1 indigo-text" aria-hidden="true"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">SASS files</h5>
              <p class="grey-text mt-2">Arranged and well documented .scss files can't wait until you compile them.</p>
            </div>
          </div>
        </div>

      </div>

    </section> -->

  </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">

  <!--Call to action-->
  <!-- <div class="pt-4">
    <a class="btn btn-outline-white" href="https://mdbootstrap.com/getting-started/" target="_blank" role="button">Download
      MDB
      <i class="fas fa-download ml-2"></i>
    </a>
    <a class="btn btn-outline-white" href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank" role="button">Start
      free tutorial
      <i class="fas fa-graduation-cap ml-2"></i>
    </a>
  </div> -->
  <!--/.Call to action-->

  <hr class="my-4">

  <!-- Social icons -->
  <!-- <div class="pb-4">
    <a href="https://www.facebook.com/mdbootstrap" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a> -->

    <!-- <a href="https://twitter.com/MDBootstrap" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a> -->

    <!-- <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a> -->

    <!-- <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a> -->

    <!-- <a href="https://dribbble.com/mdbootstrap" target="_blank">
      <i class="fab fa-dribbble mr-3"></i>
    </a> -->

    <!-- <a href="https://pinterest.com/mdbootstrap" target="_blank">
      <i class="fab fa-pinterest mr-3"></i>
    </a> -->

    <!-- <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a> -->

    <!-- <a href="http://codepen.io/mdbootstrap/" target="_blank">
      <i class="fab fa-codepen mr-3"></i>
    </a> -->
  <!-- </div> -->
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3" style="color:aliceblue;">
    © 2022 Copyright: Fynn Flügge
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
