@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'prismjs/themes/prism-okaidia.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@import 'prismjs/plugins/line-highlight/prism-line-highlight.css';

html, body { height: 100%; }
body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-t {
  height: 100%;
  padding: 8px 8px 12px 8px;
  overflow-x: auto;
  overflow-y: visible;
  transition: 500ms;
}