:root {
  --light-theme-menu-color: #282828;
  --light-theme-background-color: white;
  --light-theme-font-color: black;
  --light-theme-button-fade: 0.9;
  --light-theme-hyperlink-color: #007bff;
  --dark-theme-menu-color: #1f1e1e;
  --dark-theme-background-color: #363840;
  --dark-theme-font-color: #f5f1f0;
  --dark-theme-button-fade: 0.64;
  --dark-theme-hyperlink-color: #659afc;
  --background-color: var(--light-theme-background-color);
  --font-color: var(--light-theme-font-color);
  --menu-color: var(--light-theme-menu-color);
  --button-fade: var(--light-theme-button-fade);
  --hyperlink-color: var(--light-theme-hyperlink-color);
  --focus-color: rgb(46, 255, 183);
  --focus-color-low-alpha: rgba(46, 255, 183, 0.75);
  --warning-color: rgba(251, 114, 114, 0.8);
  --light-theme-post-it-shadow:
    inset 0 -20px 40px rgba(0, 0, 0, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3),
    inset 0px 0px 5px rgba(255, 255, 255, 0.5);
  --dark-theme-post-it-shadow:
    inset 0 -20px 40px rgba(0, 0, 0, 0.4), 5px 5px 15px rgba(0, 0, 0, 1),
    inset 0px 0px 5px rgba(255, 255, 255, 1);
  --post-it-shadow: var(--light-theme-post-it-shadow);
  --dark-theme-inbox-note-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  --light-theme-inbox-note-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  --inbox-note-box-shadow: var(--light-theme-inbox-note-box-shadow);
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-t {
  height: 100%;
  padding: 8px 8px 12px 8px;
  overflow-x: auto;
  overflow-y: visible;
  transition: 0.25s;
}

button {
  white-space: nowrap;
}

.btn-primary {
  background-image: linear-gradient(
    144deg,
    #505870,
    #373f52,
    60%,
    var(--menu-color)
  );
  border: 1px groove #c0c0c0 !important;
  opacity: 0.8;
}

.btn-primary:hover {
  opacity: 1;
}

.btn:focus {
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
}

a {
  text-decoration: none !important;
  color: var(--hyperlink-color) !important;
}

// ------- copy to clipboard ------------ //
pre[class*="language-"] {
  position: relative;
  border-radius: 5px;
}

.copy {
  padding: 8px 12px;
  position: absolute;
  right: 0;
  top: 0;
  color: rgb(189, 188, 188);
  font-size: 20px;
  opacity: 0;
  border-radius: 0.3em;
}

.copy:hover {
  color: white;
}

// -------------------------------------- //

// ------- autocomplete ------------ //
.autocomplete {
  display: flex;
  flex-direction: column;
  height: 496px;
  max-height: 75vh;
  overflow-x: hidden;
}

.autocomplete-items {
  overflow-y: auto;
}

.search-item {
  color: white;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  word-wrap: break-word;
  box-shadow:
    rgba(0, 0, 0, 0.07) 0px 1px 2px,
    rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: var(--dark-theme-background-color);
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: var(--focus-color-low-alpha) !important;
  color: #ffffff;
}

// -------------------------------------- //

// ------- code block ------------ //
code[class*="language-"] {
  color: #f8f8f2 !important;
  padding: 0px;
}

code {
  color: rgb(6, 27, 35) !important;
  padding: 2px 4px;
  background-color: rgb(227, 226, 226);
}

.code-wrapper:hover div.copy {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

// ------------------------------- //

// ----- code block tabs---------- //
.tab {
  background-color: #d4d1d1;
  border-radius: 0.3em 0.3em 0 0;
}

.tabcontent {
  display: none;
  border-top: none;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 14px;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 340;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 0.3em 0.3em 0 0;
}

.tab button.inactive:hover {
  background-color: #b3b3b3 !important;
  color: red;
}

.tab button.inactive {
  background-color: #d4d1d1 !important;
  color: black !important;
}

// ------------------------------- //

// ------ markdown tooltip ------- //
.tooltip-markdown {
  font-size: 6px;
}

.tooltip-markdown > h5 {
  font-size: 6px;
}

.tooltip-markdown > h4 {
  font-size: 7px;
}

.tooltip-markdown > h3 {
  font-size: 8px;
}

.tooltip-markdown > h2 {
  font-size: 9px;
}

.tooltip-markdown > h1 {
  font-size: 10px;
}

// ------------------------------- //

// ------ markdown textarea ------ //
.variable-textarea {
  border-radius: 5px;
  padding: 18px 12px;
  border: none;
  background-color: var(--background-color);
}

.variable-textarea:focus {
  outline: none !important;
  border: none;
}

.markdown-textarea {
  background-color: var(--background-color);
  color: var(--font-color);
}

.markdown-textarea:focus {
  outline: none !important;
  border: none;
}

// ------------------------------- //

// ---- Tooltips ---- //

.tooltip-bottom {
  @extend .tooltip-base;
}

.tooltip-bottom::before,
.tooltip-bottom::after {
  margin-top: 17px;
}

.tooltip-bottom:after {
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(0, 0, 0, 0.75);
  border-left: 6px solid transparent;
  top: 20px;
}

.tooltip-bottom.expand:after {
  transform: translate3d(0, 6px, 0);
}

.tooltip-top {
  @extend .tooltip-base;
}

.tooltip-top::before,
.tooltip-top::after {
  margin-top: -68px;
}

.tooltip-top:after {
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.75);
  border-left: 6px solid transparent;
  top: 58px;
}

.tooltip-top.expand:after {
  transform: translate3d(0, -6px, 0);
}

/* setup tooltips base */
.tooltip-base {
  position: relative;
}

.tooltip-base:before,
.tooltip-base:after {
  transition: 0s;
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.tooltip-base:after {
  content: "";
  height: 0;
  left: 20px;
  width: 0;
}

.tooltip-base:before {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
  top: 26px;
  white-space: nowrap;
  z-index: 2;
}

/* expand animation */
.tooltip-base.expand:before {
  transform: scale3d(0.2, 0.2, 1);
  transition: all 0.2s ease-in-out;
}

.tooltip-base.expand:after {
  transition: all 0.1s ease-in-out;
}

.tooltip-base.expand:hover:before,
.tooltip-base.expand:hover:after {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.tooltip-base.expand:hover:after {
  transition: all 0.2s 0.1s ease-in-out;
}

.loading-animation {
  margin: 12px;
  text-align: left;
  transform: translateY(-50%);
  font-size: 32px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.circle-loading-animation {
  border: 6px solid var(--menu-color);
  border-top: 6px solid var(--focus-color-low-alpha);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  color: black;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.header-title-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  font-size: 32px;
  margin: 6px 0px 6px 0px;
  text-align: center;
  flex-grow: 1;
}

.title-button-icon {
  height: 24px;
  margin-top: -4px;
  margin-left: -4px;
}

.btn-fade {
  opacity: var(--button-fade);
}

.btn-fade:hover {
  opacity: 1;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #666560 var(--background-color);
}

.llm-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid !important;
  border-color: #777 !important;
  border-width: 1px !important;
  background-color: var(--warning-color) !important;
  padding: 0 !important;
}

.llm-button-text {
  background-image: linear-gradient(
    to right,
    #00ff7f,
    #00d4ff,
    #405bff
  ) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important;
  font-weight: 480 !important;
  font-family: "system-ui", sans-serif !important;
  font-size: 16px !important;
  line-height: 1;
  cursor: pointer !important;
  margin-right: 8px !important;
}

.llm-icon {
  display: inline-block;
  width: 32px !important;
  height: 32px !important;
  margin-right: 2px !important;
  margin-left: 4px;
  background-color: #00ff7f !important;
  -webkit-mask: url("assets/icons/png/ai-stars-icon_256.png") no-repeat center;
  mask: url("assets/icons/png/ai-stars-icon_256.png") no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-button {
  animation: blink 1s linear infinite;
}
