html, body { height: 100%; }
body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-t {
  height: 100%;
  padding: 8px 8px 12px 8px;
  overflow-x: auto;
  overflow-y: visible;
  transition: 500ms;
}

button {
  white-space:nowrap;
}

a {
  text-decoration: none !important;
}

// ------- copy to clipboard ------------ //
pre[class*=language-] {
  position: relative;
  border-radius: 5px;
}

.copy {
  padding: 8px 12px;
  position: absolute;
  right: 0;
  top: 0;
  color: rgb(189, 188, 188);
  font-size: 24px;
  background: transparent;
  opacity: 0.0;
}

.copy:hover {
  color: white;
}
// -------------------------------------- //

// ------- autocomplete ------------ //
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  width: 300px;
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
// -------------------------------------- //

// ------- code block ------------ //
code[class*=language-] {
  color: #f8f8f2 !important;
  padding: 0px;
}

code {
  color: rgb(6, 27, 35) !important;
  padding: 2px 4px;
  background-color: rgb(227, 226, 226);
}

.code-wrapper:hover div.copy{
  opacity: 1.0;
  transition: opacity .3s ease-in-out;
  cursor: pointer;
}
// ------------------------------- //

// ----- code block tabs---------- //
.tab {
  background-color: #d4d1d1;
  border-radius: 0.3em 0.3em 0 0;
}

.tabcontent {
  display: none;
  border-top: none;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 14px;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 340;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 0.3em 0.3em 0 0;
}

.tab button.inactive:hover {
  background-color: #b3b3b3 !important;
}

.tab button.inactive {
  background-color: #d4d1d1 !important;
  color: black !important;
}
// ------------------------------- //