boto3==1.39.7
chromadb==0.4.22
numpy>=1.24.0
langchain==0.3.26
langchain-aws==0.2.35
langchain-community==0.3.27
langchain-chroma==0.1.4
langchain-openai==0.3.14
langchain-core==0.3.76
langchain-anthropic==0.3.12
langchain-together==0.3.0
