html,
body,
header,
.carousel {
  height: 60vh;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
      background: red !important;
  }
}

.view,body,html{
  height:100%
}

@media (max-width:740px){
  .full-page-intro{
    height:1000px
  }
}

.carousel{
  height:50%
}

.carousel .carousel-inner,
.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item{
  height:100%
}

@media (max-width:776px){
  .carousel{
    height:100%
  }
}

.navbar{
  background-color:#282828
}

.page-footer,
.top-nav-collapse{
  background-color:#1C2331
}

@media only screen and (max-width:768px){
  .navbar{
    background-color:#1C2331
  }
}
