//--- navigation bar ---//
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #282828;
    position: fixed;
    top: 0;
    width: 100%;
    height: 52px;
    z-index: 1;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  li a:hover {
    color: white;
    background-color: #111;
    cursor: pointer;
  }
  //------------------------//