.action-buttons {
  padding-top: 10px;
}

.bold {
  font-weight: bold;
}

textarea.md-input {
  padding: 8px;
}

.outline {
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}

.result-preview {
  padding: 10px;
  overflow: auto;
}

.md-editor-container {
  height: 400px !important;
}

.variable-binding,
.variable-textarea {
  width: 49%;
  height: 100%;
}

.variable-textarea {
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.07);
  padding: 8px;
  transition: all 500ms ease-out;
}

.variable-textarea:hover {
  box-shadow: 0 6px 12px 3px rgba(0,0,0,.09),
    0 2px 3px 1px rgba(0,0,0,.06);
}

.variable-binding {
  display: block;
  float: right;
}

.btn:focus {
  box-shadow: none;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

//---- snackbar ---- //
#snackbar {
  visibility: hidden;
  background-color: #1fd370;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 12px;
  position: fixed;
  z-index: 2;
  left: 12px;
  bottom: 12px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.0s;
  animation: fadein 0.5s, fadeout 0.5s 2.0s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 12px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 12px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 12px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 12px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#custom-tooltip {
  display: none;
  margin-left: -112px;
  margin-top: -6px;
  padding: 5px 12px;
  background-color: #000000df;
  border-radius: 4px;
  color: #fff;
}