.action-buttons {
  padding-top: 10px;
}

.bold {
  font-weight: bold;
}

textarea.md-input {
  padding: 8px;
}

.outline {
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}

.result-preview {
  padding: 10px;
  overflow: auto;
}

.md-editor-container {
  height: 400px !important;
}

.variable-binding,
.variable-textarea {
  width: 49%;
  height: 100%;
}

.variable-textarea {
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.07);
  padding: 8px;
  transition: all 500ms ease-out;
}

.variable-textarea:hover {
  box-shadow: 0 6px 12px 3px rgba(0,0,0,.09),
    0 2px 3px 1px rgba(0,0,0,.06);
}

.variable-binding {
  display: block;
  float: right;
}

.btn:focus {
  box-shadow: none;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}