.action-buttons {
  padding-top: 10px;
}

.bold {
  font-weight: bold;
}

textarea.md-input {
  padding: 8px;
}

.outline {
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}

.result-preview {
  padding: 10px;
  overflow: auto;
}

.md-editor-container {
  height: 400px !important;
}

.variable-binding,
.variable-textarea {
  width: 49%;
  height: 100%;
}

.variable-textarea {
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 12px;
  border: none;
}

.variable-textarea:focus {
  outline: none !important;
  border: none;
}

.variable-textarea:hover {
  box-shadow: 0 6px 12px 3px rgba(0, 0, 0, 0.09),
    0 2px 3px 1px rgba(0, 0, 0, 0.06);
}

.variable-binding {
  display: block;
  float: right;
}

.btn:focus {
  box-shadow: none;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

div.center {
  transition: 0.25s;
  position: absolute;
  bottom: 12px;
  width: calc(100% - 264px);
}

//---- snackbar ---- //
#snackbar {
  visibility: hidden;
  background-color: #1fd370;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 12px;
  position: fixed;
  z-index: 2;
  left: 12px;
  bottom: 12px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2s;
  animation: fadein 0.5s, fadeout 0.5s 2s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 12px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 12px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 12px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 12px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

// ---- Tooltips ---- //

.tooltip-bottom {
  @extend .tooltip-base;
}

.tooltip-bottom::before,
.tooltip-bottom::after {
  margin-top: 17px;
}

.tooltip-bottom:after {
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(0, 0, 0, 0.75);
  border-left: 6px solid transparent;
  top: 20px;
}

.tooltip-bottom.expand:after {
  transform: translate3d(0, 6px, 0);
}

.tooltip-top {
  @extend .tooltip-base;
}

.tooltip-top::before,
.tooltip-top::after {
  margin-top: -68px;
}

.tooltip-top:after {
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.75);
  border-left: 6px solid transparent;
  top: 58px;
}

.tooltip-top.expand:after {
  transform: translate3d(0, -6px, 0);
}

/* setup tooltips base */
.tooltip-base {
  position: relative;
}

.tooltip-base:before,
.tooltip-base:after {
  transition: 0s;
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.tooltip-base:after {
  content: "";
  height: 0;
  left: 20px;
  width: 0;
}
.tooltip-base:before {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
  top: 26px;
  white-space: nowrap;
}

/* expand animation */
.tooltip-base.expand:before {
  transform: scale3d(0.2, 0.2, 1);
  transition: all 0.2s ease-in-out;
}
.tooltip-base.expand:after {
  transition: all 0.1s ease-in-out;
}
.tooltip-base.expand:hover:before,
.tooltip-base.expand:hover:after {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
.tooltip-base.expand:hover:after {
  transition: all 0.2s 0.1s ease-in-out;
}
.suggestion {
  position: absolute;
  z-index: 1000; /* Ensure it appears above other content */
  background-color: #00000000;
  color: #A1A1A1;
  padding: 5px;
  max-width: 200px; /* Adjust as needed */
  white-space: nowrap; /* Prevent line breaks */
}

// dialog
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

/* Styles for the dialog box */
.dialog {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  max-width: 400px;
  text-align: center;
}
