<div
  style="margin-top: 50px; height: calc(100% - 160px)"
  (document:keydown.meta.shift.s)="submit()"
  (document:keydown.esc)="cancelEdit()"
>
  <div class="header-title-bar">
    <button
      *ngIf="aiCompletionEnabled && !isMobileDevice"
      (click)="toggleAiCompletion()"
      data-title="Disable AI Text Completion"
      class="btn btn-default btn-primary btn-fade tooltip-bottom expand"
    >
      <img
        src="../../../assets/icons/png/icons8-artificial-intelligence-50.png"
        class="title-button-icon"
      />
      Disbale text completion
    </button>
    <button
      *ngIf="!aiCompletionEnabled && !isMobileDevice"
      (click)="toggleAiCompletion()"
      data-title="Enable AI text completion ayto suggestions"
      class="btn btn-default btn-primary btn-fade tooltip-bottom expand"
    >
      <img
        src="../../../assets/icons/png/icons8-artificial-intelligence-50.png"
        class="title-button-icon"
      />
      Enable text completion
    </button>
    <span class="title" style="text-indent: -96px">{{ title }}</span>
    <button
      *ngIf="!isPublic"
      id="share-button"
      class="btn btn-default btn-primary btn-fade"
      (click)="shareDocument()"
    >
      <i class="fas fa-share"></i> Share
    </button>
    <button
      *ngIf="isPublic"
      class="btn btn-default btn-primary btn-fade tooltip-bottom expand"
      data-title="Copy link to clipboard"
      (click)="copyLinkToClipBoard($event, this.publicLink)"
      style="margin-right: 4px"
    >
      <i class="fas fa-link"></i>
    </button>
    <button
      *ngIf="isPublic"
      id="unshare-button"
      class="btn btn-default btn-primary btn-fade"
      (click)="unshareDocument()"
    >
      <i class="fas fa-ban"></i> Stop Share
    </button>
  </div>

  <div
    style="resize: none; margin-top: 4px; display: inline-block; height: 100%"
    *ngIf="editorMode"
    class="variable-textarea"
    [style.width]="showPreview ? 'calc(50% - 4px)' : '100%'"
  >
    <textarea
      id="markdownTextarea"
      class="markdown-textarea"
      [(ngModel)]="content"
      (keydown)="onKeydown($event)"
      style="
        height: 100%;
        width: 100%;
        resize: none;
        padding: 8px;
        border: none;
      "
    ></textarea>
  </div>
  <div class="suggestion">{{ suggestion }}</div>
  <markdown
    katex
    mermaid
    id="markdownPreview"
    *ngIf="showPreview && editorMode"
    class="variable-binding"
    [data]="content"
    style="
      height: calc(100% - 8px);
      overflow-y: scroll;
      margin-top: 8px;
      padding: 12px;
      border-radius: 4px;
      box-shadow: var(--inbox-note-box-shadow);
      border: var(--border-width) solid rgba(204, 204, 204, 0.4);
    "
  ></markdown>
  <markdown
    katex
    mermaid
    *ngIf="!editorMode"
    class="variable-binding"
    [data]="content"
    style="
      width: 100%;
      height: 100%;
      max-width: 1320px;
      float: none;
      margin: auto;
      overflow-y: auto;
      margin-bottom: 4px;
    "
  ></markdown>
</div>

<div
  class="center"
  [style.transform]="showSidebar ? 'translateX(-8px)' : 'translateX(90px)'"
>
  <button
    *ngIf="editorMode"
    class="btn btn-default btn-primary btn-fade"
    (click)="togglePreviewPanel()"
  >
    <i
      [ngClass]="
        showPreview ? 'fa-solid fa-eye-slash' : 'fa-solid fa-magnifying-glass'
      "
    ></i>
    {{ showPreview ? "Preview" : "Preview" }}
  </button>
  &nbsp;&nbsp;
  <button class="btn btn-default btn-primary btn-fade" (click)="changeMode()">
    <i
      [ngClass]="editorMode ? 'fa-solid fa-xmark' : 'fa-solid fa-pen-to-square'"
    ></i>
    {{ editorMode ? "Cancel" : "Edit" }}
  </button>
  &nbsp;&nbsp;
  <button
    *ngIf="editorMode"
    class="btn btn-default btn-primary btn-fade"
    (click)="undoChanges()"
  >
    <i class="fa-solid fa-undo"></i> Undo
  </button>
  &nbsp;&nbsp;
  <button
    class="btn btn-default btn-primary btn-fade"
    (click)="cancelEdit()"
    *ngIf="editorMode"
  >
    <i [ngClass]="'fa-solid fa-save'"></i>
    Save
  </button>
  &nbsp;&nbsp;
</div>

<div id="snackbar" [ngClass]="{ show: showSnackbar }">
  Saved <i class="fa-solid fa-check"></i>
</div>
