<div class="overlay" id="configDialog" [class.open]="isOpen">
  <div class="dialog">
    <form>
      <h5>Embeddings Model</h5>
      <label class="radio-inline">
        <input
          type="radio"
          name="embeddingModel"
          [(ngModel)]="selectedEmbeddingModel"
          value="text-embedding-ada-002"
        />Text-Embedding-Ada-002
      </label>
      <label class="radio-inline" *ngIf="isLocal">
        <input
          type="radio"
          name="embeddingModel"
          [(ngModel)]="selectedEmbeddingModel"
          value="Sentence-Transformers"
        />Sentence-Transformers
      </label>
      <label class="radio-inline" *ngIf="isLocal">
        <input
          type="radio"
          name="embeddingModel"
          [(ngModel)]="selectedEmbeddingModel"
          value="Ollama-nomic-embed-text"
        />Ollama-nomic-embed-text
      </label>
      <hr />
      <h5>Large Language Model</h5>
      <label class="radio-inline">
        <input
          type="radio"
          name="llm"
          [(ngModel)]="selectedLlm"
          value="gpt-3.5-turbo"
        />GPT-3.5-Turbo
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="llm"
          [(ngModel)]="selectedLlm"
          value="gpt-4"
        />GPT-4
      </label>
      <br />
      <label class="radio-inline">
        <input
          type="radio"
          name="llm"
          [(ngModel)]="selectedLlm"
          value="claude-3-haiku-20240307"
        />Claude-3-Haiku
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="llm"
          [(ngModel)]="selectedLlm"
          value="claude-3-sonnet-20240229"
        />Claude-3-Sonnet
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          name="llm"
          [(ngModel)]="selectedLlm"
          value="claude-3-opus-20240229"
        />Claude-3-Opus
      </label>
      <br />
      <label class="radio-inline" *ngIf="isLocal">
        <input
          type="radio"
          name="llm"
          [(ngModel)]="selectedLlm"
          value="Ollama-llama3"
        />Ollama-llama3
      </label>
      <label class="radio-inline" *ngIf="isLocal">
        <input
          type="radio"
          name="llm"
          [(ngModel)]="selectedLlm"
          value="Ollama-llama2"
        />Ollama-llama2
      </label>
      <label class="radio-inline" *ngIf="isLocal">
        <input
          type="radio"
          name="llm"
          [(ngModel)]="selectedLlm"
          value="Ollama-mistral"
        />Ollama-mistral
      </label>
      <label class="radio-inline" *ngIf="isLocal">
        <input
          type="radio"
          name="llm"
          [(ngModel)]="selectedLlm"
          value="Ollama-orca-mini"
        />Ollama-orca-mini
      </label>
      <hr />
      <h5>OpenAI API Key</h5>
      <textarea
        type="text"
        id="openaiApiKey"
        rows="2"
        [placeholder]="'Enter your OpenAI API key...'"
        style="width: 94%"
        [(ngModel)]="openAiApiKey"
        #message="ngModel"
        name="openaiApiKey"
      ></textarea>
      <div>
        <span
          id="openAiApiKeyRequired"
          style="text-align: center; color: var(--warning-color); display: none"
        >
          For the selected configuration, you need to provide an OpenAI API key
        </span>
      </div>
      <h5>Anthropic API Key</h5>
      <textarea
        type="text"
        id="anthropicApiKey"
        rows="2"
        [placeholder]="'Enter your Anthropic API key...'"
        style="width: 94%"
        [(ngModel)]="anthropicApiKey"
        #message="ngModel"
        name="anthropicApiKey"
      ></textarea>
      <div>
        <span
          id="anthropicApiKeyRequired"
          style="text-align: center; color: var(--warning-color); display: none"
        >
          For the selected configuration, you need to provide an Anthropic API
          key
        </span>
      </div>
      <br />
      <div>
        <span style="text-align: right"
          ><strong>Note</strong>: Your OpenAI/Anthropic API key is kept secure
          and is not shared with anyone. You can entirely revoke your API key at
          any time by clearing the input field and save.
        </span>
      </div>
    </form>
    <hr />
    <button
      class="btn btn-default btn-primary"
      (click)="closeDialog()"
      style="margin-right: 8px"
    >
      Close
    </button>
    <button class="btn btn-default btn-primary" (click)="submit()">Save</button>
  </div>
</div>
