<div class="overlay" id="configDialog" [class.open]="isOpen">
  <div class="dialog">
    <div class="scrollable-content">
      <form>
        <h5>Embeddings Model</h5>
        <select name="embeddingModel" [(ngModel)]="selectedEmbeddingModel">
          <option *ngFor="let model of embeddingModels" [value]="model">
            {{ model }}
          </option>
        </select>
        <hr />
        <h5>Large Language Model</h5>
        <select name="llm" [(ngModel)]="selectedLlm">
          <option *ngFor="let model of llms" [value]="model">
            {{ model }}
          </option>
        </select>
        <hr />
        <h5>Speech-to-Text Model</h5>
        <select name="speechToText" [(ngModel)]="selectedSpeechToTextModel">
          <option *ngFor="let model of speechToTextModels" [value]="model">
            {{ model }}
          </option>
        </select>
        <hr />
        <h5>OpenAI API Key</h5>
        <textarea
          type="text"
          id="openaiApiKey"
          rows="2"
          [placeholder]="'Enter your OpenAI API key...'"
          style="width: 94%"
          [(ngModel)]="openAiApiKey"
          #message="ngModel"
          name="openaiApiKey"
        ></textarea>
        <div>
          <span
            id="openAiApiKeyRequired"
            style="text-align: center; color: var(--warning-color); display: none"
          >
            For the selected configuration, you need to provide an OpenAI API key
          </span>
        </div>
        <h5>Anthropic API Key</h5>
        <textarea
          type="text"
          id="anthropicApiKey"
          rows="2"
          [placeholder]="'Enter your Anthropic API key...'"
          style="width: 94%"
          [(ngModel)]="anthropicApiKey"
          #message="ngModel"
          name="anthropicApiKey"
        ></textarea>
        <div>
          <span
            id="anthropicApiKeyRequired"
            style="text-align: center; color: var(--warning-color); display: none"
          >
            For the selected configuration, you need to provide an Anthropic API
            key
          </span>
        </div>
        <h5>Voyage API Key</h5>
        <textarea
          type="text"
          id="voyageApiKey"
          rows="2"
          [placeholder]="'Enter your Voyage API key...'"
          style="width: 94%"
          [(ngModel)]="voyageApiKey"
          #message="ngModel"
          name="voyageApiKey"
        ></textarea>
        <div>
          <span
            id="voyageApiKeyRequired"
            style="text-align: center; color: var(--warning-color); display: none"
          >
            For the selected configuration, you need to provide a Voyage API key
          </span>
        </div>
        <h5>Together AI API Key</h5>
        <textarea
          type="text"
          id="togetherApiKey"
          rows="2"
          [placeholder]="'Enter your Together AI API key...'"
          style="width: 94%"
          [(ngModel)]="togetherApiKey"
          #message="ngModel"
          name="togetherApiKey"
        ></textarea>
        <div>
          <span
            id="togetherApiKeyRequired"
            style="text-align: center; color: var(--warning-color); display: none"
          >
            For the selected configuration, you need to provide a Together AI API key
          </span>
        </div>
        <br />
        <div>
          <span style="text-align: right"
            ><strong>Note</strong>: Your API key is kept secure and is not shared
            with anyone. You can entirely revoke your API key at any time by
            clearing the input field and save.
          </span>
        </div>
      </form>
    </div>
    <div class="dialog-actions">
      <hr />
      <button
        class="btn btn-default btn-primary"
        (click)="closeDialog()"
        style="margin-right: 8px"
      >
        Close
      </button>
      <button class="btn btn-default btn-primary" (click)="submit()">Save</button>
    </div>
  </div>
</div>
