.dialog {
  position: absolute;
  background-color: var(--menu-color);
  color: lightgray;
  border-radius: 6px;
  border: 0.1px solid rgb(63, 66, 65);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 12px;
  width: 700px;
  text-align: center;
  top: 120px;
}

.open {
  display: flex;
}

.radio-inline {
  display: inline-block;
  margin-right: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}
