<ul>
  <li>
    <button mat-icon-button mat-button (click)="onMenuToggle()" style="margin: auto;; width: 52px; height: 52px;">
      <mat-icon>menu</mat-icon>
    </button>
  </li>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

<div class="sidebar" [style.left.px]="showSidebar ? '0' : '-120'">
  <div>
    
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

      <mat-tree-node *matTreeNodeDef="let node; when: isRoot" matTreeNodePadding matTreeNodePaddingIndent="12">
        <button mat-icon-button (click)="addNewItem(node)" style="background-color:transparent;width:24px;">
          ADD new Document
          <mat-icon>note_add</mat-icon></button>
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding matTreeNodePaddingIndent="12">
        <button mat-icon-button disabled style="background-color:transparent;width:24px;"></button>
        <a mat-button [routerLink]="'/dashboard/' + node.id" style="color: white;">{{node.name}}</a>
        <button mat-icon-button (click)="addNewItem(node)" style="background-color:transparent;width:24px;"><mat-icon>add</mat-icon></button>
        <button mat-icon-button (click)="removeItem(node)" style="background-color:transparent;width:24px;"><mat-icon>remove</mat-icon></button>
      </mat-tree-node>
    
      <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding matTreeNodePaddingIndent="12">
        <button mat-icon-button disabled style="background-color:transparent;width:24px;"></button>
        <mat-form-field>
          <input matInput #itemValue placeholder="New item...">
        </mat-form-field>
        <button mat-button (click)="saveNode(node, itemValue.value)" style="color: white;">Save</button>
      </mat-tree-node>
    
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="12">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.filename" style="background-color:transparent;width:24px;">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <a mat-button [routerLink]="'/dashboard/' + node.id" style="color: white;">{{node.name}}</a>
        <button mat-icon-button (click)="addNewItem(node)" style="background-color:transparent;width:24px;"><mat-icon>add</mat-icon></button>
        <button mat-icon-button (click)="removeItem(node)" style="background-color:transparent;width:24px;"><mat-icon>remove</mat-icon></button>
      </mat-tree-node>
    </mat-tree>

    <!-- <mat-tree-node *matTreeNodeDef="let node; when: isTrash" matTreeNodePadding matTreeNodePaddingIndent="12">
      <button mat-icon-button (click)="addNewItem(node)" style="background-color:transparent;width:24px;">
        TRASH
        <mat-icon>note_add</mat-icon></button>
    </mat-tree-node> -->

  </div>
</div>

<div class="container-t" [style.margin-left.px]="showSidebar ? '220' : '100'" [style.width]="showSidebar ? 'calc(100% - 240px)' : 'calc(100% - 120px)'">
  <router-outlet></router-outlet>
</div>