.mat-button {
  min-width: 0px !important;
  padding: 0;
  margin-right: 12px;
  color: lightgray;
  background-color:transparent;
}

.mat-tree-node {
  height: 32px;
  border-bottom: 1px solid grey;
}

.mat-icon {
  height: 28px;
  color: lightgray;
}

//--- sidenav bar ---//

.sidebar {
	position: absolute;
  left: -120px;
  transition: 0.3s;
  margin: 0;
  margin-top: 52px;
  padding: 0;
  width: 200px;
  background: #282828;
  color: lightgray;
  position: fixed;
  height: calc(100% - 52px);
  overflow: auto;
  z-index: 2;
}

.sidebar:hover {
  left: 0 !important;
}
//------------------------//

//--- navigsation bar ---//
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #282828;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
//------------------------//