<h1>This is the protected dashboard</h1>
<button (click)="onLogout()">Log out</button>
<button (click)="onTest()">Test</button>

<!-- <div class="row">
  <div class="col-md-6">
      <h2>Reactive Form - Demo</h2>
  </div>
  <div class="col-md-6 action-buttons">
      <button class="btn btn-info btn-sm" (click)="showFullScreen(true)">
          Full Screen Preview
      </button>
  </div>
</div>
<hr />

<form [formGroup]="templateForm" novalidate>
  <div class="editor">
      <label>Editor</label>
      <angular-markdown-editor textareaId="editor1" [options]="editorOptions" rows="12" formControlName="body">
      </angular-markdown-editor>
  </div>
</form>

<hr />
<h3 class="text-success bold">Preview</h3>
<div class="result-preview outline">
  <markdown [data]="markdownText"></markdown>
</div> -->
