<span style="justify-content:center;align-items:center;display:flex;;font-size:24px;">{{ title }}</span>

<div class="well well-sm" style="justify-content:center;align-items:center;display:flex;">
  <button class="btn btn-default btn-primary" (click)="togglePreviewPanel()">
    {{ options?.showPreviewPanel ? 'Hide' : 'Show' }} Preview Panel
  </button>
  &nbsp;&nbsp;
  <button class="btn btn-default btn-primary" (click)="changeMode()">
    Change Mode (Current: {{ mode }})
  </button>
  &nbsp;&nbsp;
  <button class="btn btn-default btn-primary" (click)="submit()">
    SAVE
  </button>
</div>

<div style="margin: 12px; height: calc(100% - 100px); overflow: scroll;">
<!-- <div> -->
  <form novalidate #form="ngForm">
    <md-editor
      #md="ngModel"
      name="Content"
      (onEditorLoaded)="onEditorLoaded($event)"
      [preRender]="preRender"
      [postRender]="postRender"
      (onPreviewDomChanged)="onPreviewDomChanged($event)"
      [upload]="doUpload"
      [(ngModel)]="content"
      [mode]="mode"
      [options]="options"
      height="800px"
      required
    ></md-editor>
  </form>
</div>