<h1>This is the protected dashboard</h1>
<button (click)="onLogout()">Log out</button>
<button (click)="onTest()">Test</button>

<div style="margin: 20px">
    <form novalidate #form="ngForm">
      <md-editor
        #md="ngModel"
        name="Content"
        (onEditorLoaded)="onEditorLoaded($event)"
        [preRender]="preRender"
        [postRender]="postRender"
        (onPreviewDomChanged)="onPreviewDomChanged($event)"
        [upload]="doUpload"
        [(ngModel)]="content"
        [mode]="mode"
        [options]="options"
        required
        height="400px"
      ></md-editor>
    </form>
    <div class="well well-sm">
      <button class="btn btn-default btn-primary" (click)="togglePreviewPanel()">
        {{ options?.showPreviewPanel ? 'Hide' : 'Show' }} Preview Panel
      </button>
      &nbsp;&nbsp;
      <button class="btn btn-default btn-primary" (click)="changeMode()">
        Change Mode (Current: {{ mode }})
      </button>
    </div>
    <br />
  </div>
  