.action-buttons {
    padding-top: 10px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  textarea.md-input {
    padding: 8px;
  }
  
  .outline {
    border: 1px solid #c0c0c0;
    border-radius: 4px;
  }
  
  .result-preview {
    padding: 10px;
    max-height: 350px;
    overflow: auto;
  }