<div class="markdown-menu">
  <button
    (click)="applyStyle('h1')"
    class="btn btn-default btn-primary btn-fade"
  >
    H1
  </button>
  <button
    (click)="applyStyle('h2')"
    class="btn btn-default btn-primary btn-fade"
  >
    H2
  </button>
  <button
    (click)="applyStyle('h3')"
    class="btn btn-default btn-primary btn-fade"
  >
    H3
  </button>
  <button
    (click)="applyStyle('bold')"
    class="btn btn-default btn-primary btn-fade"
  >
    <i class="fas fa-bold"></i>
  </button>
  <button
    (click)="applyStyle('italic')"
    class="btn btn-default btn-primary btn-fade"
  >
    <i class="fas fa-italic"></i>
  </button>
  <button
    (click)="applyStyle('blockquote')"
    class="btn btn-default btn-primary btn-fade"
  >
    <i class="fas fa-quote-left"></i>
  </button>
  <button
    (click)="applyStyle('code')"
    class="btn btn-default btn-primary btn-fade"
  >
    <i class="fas fa-code"></i>
  </button>
  <button
    (click)="applyStyle('ul')"
    class="btn btn-default btn-primary btn-fade"
  >
    <i class="fas fa-list-ul"></i>
  </button>
  <button
    (click)="applyStyle('ol')"
    class="btn btn-default btn-primary btn-fade"
  >
    <i class="fas fa-list-ol"></i>
  </button>
  <button
    (click)="applyStyle('link')"
    class="btn btn-default btn-primary btn-fade"
  >
    <i class="fas fa-link"></i>
  </button>
  <button
    *ngIf="!isRecording && speechToTextEnabled"
    (click)="recordNote()"
    data-title="Record a note using speech-to-text"
    class="btn btn-default btn-primary btn-fade tooltip-bottom expand llm-button"
  >
    <span class="llm-icon"></span>
    <span class="llm-button-text">Record Note</span>
  </button>
  <button
    *ngIf="isRecording && speechToTextEnabled"
    (click)="stopRecord()"
    class="btn btn-default btn-primary btn-fade"
  >
    <i class="fas fa-stop"></i>
  </button>
</div>
