.tooltip-trigger {
  position: relative;
  cursor: pointer;
}

.tooltip-trigger .tooltip-content {
  visibility: hidden;
  opacity: 0;
  width: 320px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  margin: 4px;
  position: absolute;
  right: 100%;
  z-index: 2;
  overflow: auto;
  height: 0px;
  padding: 0px;
  max-height: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition:
    opacity 0.2s,
    visibility 0.2s;
}

.tooltip-trigger:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
  height: auto;
  padding: 8px;
}

.tooltip-content.bottom {
  bottom: -240px;
}

.tooltip-content.left {
  right: 100%;
  transform: translateY(-50%);
}

.tooltip-content.right {
  left: 100%;
  transform: translateY(-50%);
}

.markdown-hover:hover {
  border-color: var(--focus-color) !important;
}

.markdown-border {
  border: var(--border-width) solid rgba(204, 204, 204, 0.4);
  padding: 16px 24px;
  box-shadow: var(--inbox-note-box-shadow);
}

.markdown-textarea {
  background-color: rgba(0, 0, 0, 0);
}

.overlay {
  left: 0px;
}

.dialog {
  position: absolute;
  background-color: var(--menu-color);
  color: var(--font-color);
  border-radius: 6px;
  border: 0.1px solid rgb(63, 66, 65);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 12px;
  width: 800px;
  height: 800px;
  max-width: 75%;
  max-height: 80%;
  text-align: center;
  top: 120px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(620px, 1fr));
  gap: 28px;
  padding: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100% - 60px);
  min-height: calc(100% - 60px);
  height: auto;
}

.card {
  background: var(--background-color);
  color: var(--font-color);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
}

.card-content {
  padding: 12px;
  flex-grow: 1;
}

.card-footer {
  display: flex;
  padding: 12px 16px;
  border-top: 1px solid #e0e0e0;
  border-radius: 0 0 12px 12px;
  text-align: right;
  font-weight: bold;
  font-size: 0.95rem;
}

.waiting-animation .dots::after {
  content: "";
  display: inline-block;
  width: 1.5em;
  text-align: left;
  animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

.post-it {
  width: 250px;
  height: 240px;
  position: relative;
  background-color: rgba(255, 249, 222);
  overflow: hidden;
  padding: 20px;
  border-radius: 0 0 0 30px/45px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: var(--post-it-shadow);
  line-height: 1.7em;
  font-size: 19px;
  color: #130d6b;
}

.post-it:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 25px;
  background-color: rgba(255, 249, 222);
  box-shadow: var(--post-it-shadow);
  left: 0;
  bottom: 0;
  z-index: 1;
  transform: skewX(25deg);
}

.llm-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.llm-button mat-icon {
  color: #00ff7f;
}
