.tooltip-trigger {
  position: relative;
  cursor: pointer;
}

.tooltip-trigger .tooltip-content {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  top: 40%;
  right: 100%;
  transform: translateY(-50%);
  z-index: 1;
  overflow: auto;
  max-height: 150px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s;
}

.tooltip-trigger:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}
