button {
  color: white;
  background-color:#282828;
  border:none;
}

.mat-button {
  min-width: 0px !important;
  padding: 0;
  margin-right: 12px;
  color: lightgray;
  background-color:transparent;
}

.mat-icon-button {
  color: lightgray;
  background-color:transparent;
  width: 24px;
}

.mat-tree-node {
  height: 32px;
  border-bottom: 1px solid grey;
  font-weight: 280;
  font-size: 13px;

  &.cdk-drag-preview { // while dragging
    background-color:#282828;
    color: white;
  }
  &.cdk-drag-placeholder { // potential drop area
    opacity: 0;
  }
}

/* items moving away to make room for drop */
.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* item being dropped */
.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-icon {
  height: 28px;
  width: 24px;
  color: lightgray;
  background-color:transparent;
}

mat-tree-node {
  display: flex;
}

mat-tree-node:hover {
  background-color: #111;
}

mat-tree-node:hover > .hide {
  visibility: visible;
  opacity:1;
}

mat-tree-node:focus {
  background-color: rgb(44, 81, 91);
}

.active-node {
  background-color: rgb(44, 81, 91);
}

span {
  margin-right: 6px;
}

span:hover {
  cursor: default;
}

.nav-bar-button {
  font-size:smaller;
  height:100%;
  font-weight:200;
  border:1px;
  border-color:darkgrey;
  border-radius:8px;
  margin:8px;
  border-style:groove;
  height:70%;
  min-width: 110px !important;
}

.icon-button-fade {
  opacity: 0.5;
  width: 24px;
}

.icon-button-chevron {
  opacity: 0.5;
  width: 24px;
}

.icon-button-star {
  opacity: 1;
  width: 24px;
}

.icon-button-fade:hover,
.icon-button-chevron:hover,
.icon-button-star:hover {
  opacity: 1;
}

.sidebar {
	position: absolute;
  left: -200px;
  transition: 0.25s;
  margin: 0;
  margin-top: 52px;
  padding: 0;
  width: 240px;
  background: #282828;
  color: lightgray;
  position: fixed;
  height: calc(100% - 52px);
  overflow: auto;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
  clip-path: inset(0px -20px 0px 0px);
}

.sidebar:hover {
  left: 0 !important;
}

.sidebar:hover > .hide {
  visibility: visible;
  opacity:1;
}

.hide {
  visibility: hidden;
  opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
}

//--- navigation bar ---//
ul {
  display: flex;
  margin: 0;
  padding: 0;
  background: #282828;
  position: fixed;
  top: 0;
  width: 100%;
  height: 52px;
  z-index: 1;
}

li a {
  height:100%;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 300;
}

li a:hover {
  color: white;
  background-color: #111;
  cursor: pointer;
}
//------------------------//

.dropbtn {
  color: white;
  border: none;
  display: block;
  width:32px;
  height:28px;
  background-color:transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  z-index: 1;
}

.dropdown-light {
  left:auto;
  right:0;
  background-color:rgba(255,255,255,1);
  padding:12px;
  width:240px;
}

.dropdown-content button {
  width: 100%;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: black;}

#search_documents {
  height: 36px;
  width: 260px;
  border-radius: 32px;
  margin: 8px;
  border:1px solid black;
  padding: 3px 10px 3px 10px;
  background-color: lightgray;
}

#search_documents:focus {
  outline: none !important;
  border:2px solid #719ECE;
  box-shadow: 0 0 2px #719ECE;
  background-color: white;
}